.btn-group
  %button#tags.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
    Tags
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "tags", :role => "menu"}
    - if (tags = @repository.tags).size > 0
      - tags.each do |tag|
        %li= link_to tag.name, repository_tag_path(@repository, id: tag.name)
    - else
      %li.dropdown-header No tag