= content_for :nav do
  = render partial: 'repositories/nav'

%br
.jumbotron
  .container.text-center
    You have no branches. Push your first branch now.
  %br
  %pre.text-left
    $ git clone #{current_user.username}@git.repohub.dev:#{@repository.handle}.git
    $ touch README.md
    $ git add README.md
    $ git commit -m "Initial commit"
    $ git push origin master