.file-header
  .pull-left.file-header-info
    %span.file-header-info-path
      = @blob.path
    %span.file-header-info-size
      = number_to_human_size @blob.size
    %span.file-header-info-lines
      #{@blob.lines.size} LOC
  .pull-right.file-header-actions
    = link_to 'Raw', url_for(space_id: @repository.space, repository_id: @repository, tree_id: @tree, id: @blob.path, controller: '/repositories/trees/raws', action: 'show'), class: 'btn btn-default'
  .clearfix