.btn-group
  = render partial: 'shared/contents/folders', object: folders
  .btn-group
    = link_to @blob.name, url_for(space_id: @repository.space, repository_id: @repository, tree_id: @tree, id: @blob.path, controller: '/repositories/trees/blobs', action: 'show'), class: 'btn btn-default', title: @blob.path