= content_for :nav do
  = render partial: 'keys/nav'

.keys
  .keys-header
    Keys
  .keys-wrapper
    %table.table.keys-table
      %tbody
        = render partial: 'keys/key', collection: @keys

- if @keys.empty?
  .jumbotron
    .container.text-center
      You have not uploaded any public keys yet.
      &nbsp;
      = link_to 'Upload your first public key now', new_key_path, class: 'btn btn-success'