.squares
  - if file.status == 'added'
    - 8.times do
      .pull-left.square-addition
  - elsif file.status == 'deleted'
    - 8.times do
      .pull-left.square-deletion
  - else
    - total_number_of_lines = [file.total_number_of_lines_after, file.total_number_of_lines_before].max
    - square_addition = [(4 * (file.additions * 100 / total_number_of_lines) / 100), 1].max
    - square_addition.times do
      .pull-left.square-addition
    - square_deletion = [(4 * (file.deletions * 100 / total_number_of_lines) / 100), 1].max
    - square_deletion.times do
      .pull-left.square-deletion
    - (8 - square_addition - square_deletion).times do
      .pull-left.square-context
.clearfix