%tbody(id="diff-#{hunk.id}")
  %tr
    %td.line.line-header
    %td.line.line-header
    %td.line.line-header
    %td.line.line-header= hunk.header
  = render partial: 'repositories/commits/line', collection: hunk.lines, locals: {file: file}