.btn-group
  %button#repository.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "repository", :role => "menu"}
    %li.dropdown-header Repositories
    - Repository.all.each do |repository|
      %li= link_to repository.name, repository_branch_path(repository, id: 'master')
    %li.divider
      %li= link_to 'New repository', new_repository_path