.btn-group
  %button#repository.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
    - if @repository
      = @repository.persisted? && @repository.try(:name) || 'Repositories'
    - else
      Repositories
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "repository", :role => "menu"}
    - current_user.repositories.all.group_by { |repository| repository.space }.each do |space, repositories|
      %li.dropdown-header= space.try(:name)
      - repositories.each do |repository|
        %li= link_to repository.name, [repository.space, repository]
    %li.divider
      %li= link_to 'New repository', new_repository_path