html, body {
  color: #222222 !important;
}

html, body {
  font: 1em/1.375 "Source Sans Pro",sans-serif !important;
}

@media (min-width: 970px) {
  .container {
    max-width: 970px;
  }
}

h2 {
  padding-bottom: 30px;
}

pre {
  padding: unset!important;
}

.btn {
  font-weight: bold!important;
}

.navbar {
  margin-bottom: 0 !important;
}

.dropdown-header {
  font-weight: bold;
}

span.username {
  color: #4e575b;
  font-size: 13px;
  font-weight: bold;
  margin: 0 5px;
}

#select-revision {
  span.revision-type {
    font-size: 13px;
    font-weight: normal;
    color: #4d4d4c;
  }
}

#select-revision-menu {
  .divider {
    margin: 0 !important;
  }
}

.navbar-repofs, .navbar-repository {
  border-radius: 0 !important;

  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.navbar-repofs {
  border-bottom: 1px solid #d8d8d8 !important;
}

.repository-logo img {
  margin-right: 10px;
}

#heading, #description {
  padding-top: 10px;
  padding-bottom: 10px;

  h3 {
    margin-top: 5px !important;
  }
}

.col-md-3, .col-md-9 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.repositories-references-trees {
  .col-md-3, .col-md-9 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

table {
  margin-bottom: 0 !important;

  &.repositories-table, &.keys-table {
    td {
      padding: 25px !important;

      &.name-td {
        width: 60%;

        font-size: 20px !important;

        .description {
          font-size: 12px;
        }
      }

      &.stats-td {
        width: 20%;

        .stats {
          .stats-changes-count {
            font-size: 36px;
          }
        }
      }

      &.actions-td {
        width: 20%
      }
    }
  }
}

.keys-table {
  .name-td {
    width: 20%!important;
  }
  .value-td {
    width: 60%;
    code {
      padding: 10px;
    }
  }
}

.btn {
  font-weight: bold;
  border-bottom-width: 2px;
}

.btn-on, .btn-off {
  width: 80px;
}

.navbar-default {
  background-color: #4a4a4a;
  color: #cbcbcb !important;

  a {
    color: #cbcbcb !important;
  }

  .container {
    .navbar-collapse {
      height: 70px !important;
    }
  }
}


.commits {
  border-color: #eaeaea;
  border-image: none;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  padding: 8px 8px 0;
  margin-top: 10px;

  .commits-heading {
    margin-bottom: 5px;
    font-size: 13px;

    color: #888;
  }

  .commits-list {
    list-style-type: none;

    padding-left: 5px;
    margin-bottom: 0;

    .commit {
      border-top: 1px solid #eaeaea;
      padding: 10px;
      margin-left: -14px;
      margin-right: -9px;

      .commit-avatar {
        margin-left: 15px;
      }
      .commit-author {
        font-size: 12px;
        font-weight: normal;
      }
      .commit-message {
        font-size: 13px;
        font-weight: bold;
        a { color: #4e575b; }
        width: 210px;
        margin-left: 10px;
      }
      .commit-stats {
        margin-top: 3px;
        font-weight: normal;
        font-size: 10px;
      }

      .btn-commit {
        width: 95px;
      }
    }
  }
}

.contributors {
  margin-top: 10px;
  .contributor {
    margin: 3px;
    float: left;
  }
}

section.tree {
  margin-top: 10px;

  .modified {
    width: 130px;
    color: #888888;
  }
  .tree-heading {
    background: none repeat scroll 0 0 #e6f1f6;
    border-color: #b7c7cf #b7c7cf #d8e6ec;
    border-image: none;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px;
    padding: 8px 8px 0;

    a {
      text-decoration: none;
      color: #4d4d4c;
      &:hover {
        text-decoration: underline;
      }
    }

    .tree-commit-message {
      font-size: 12px;
      font-weight: bold;
    }
    .tree-commit-author {
      font-size: 13px;
      background: none repeat scroll 0 0 #fff;
      border-top: 1px solid #d8e6ec;
      margin-left: -8px;
      margin-right: -8px;
      padding: 8px;

      .tree-commit-link {
        color: #4d4d4c;
        text-decoration: underline;
        font-size: 13px;
      }
    }
  }
  .tree-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: -moz-use-text-color #ddd #ddd;
    border-image: none;
    border-right: 1px solid #ddd;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin-bottom: 10px;

    table {
      background: none repeat scroll 0 0 #f8f8f8;
      border-radius: 2px;
      width: 100%;

      td {
        border-top: 1px solid #eee;
        line-height: 20px;
        padding: 6px 3px;
        font-size: 14px;

        &.icon {
          color: #777;
          padding-left: 10px;
          padding-right: 2px;
          width: 20px;
        }
        &.name {
          width: 200px;
        }
        &.message {
          width: 530px;
          a {
            text-decoration: none;
            color: #4d4d4c;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.commit-group {

  .commit-group-title {
    margin: 10px 0;
    color: #777;
    font-size: 14px;
  }

  .commit-group-list {
    border-bottom: 1px solid #eee;
    .commit {
      border: 1px solid #eee;
      border-bottom: none;
      padding: 10px;

      .commit-avatar {

      }

      .commit-title {
        margin-left: 10px;

        .commit-message {
          font-weight: bold;
          a {
            color: #4e575b;
          }
        }
        .commit-meta {
          font-size: 12px;
          color: #444;
        }
      }
    }
  }
}

.full-commit {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  margin: 10px 0;

  .commit-title {
    background: none repeat scroll 0 0 #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    padding: 8px;
    color: #213f4d;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);

    a {
      color: #444;
      text-decoration: none;
    }
  }

  .commit-references {
    margin: 0 8px;
    a {
      font-weight: bold;
      font-size: 13px;
      color: #444;
    }
  }

  .commit-meta, .commit-files {
    background-color: #fff;
    color: #999;
    font-size: 14px;
    margin: 8px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);

    a {
      color: #444;
    }
  }

  .commit-files {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .commit-file {
      padding: 1px 8px;

      border-top: 1px solid #eaeaea;

      .commit-file-pointer {
        width: 20px;
      }
      .commit-file-path {
        a.file-path {
          font-size: 14px;
          color: #444;

          &:hover {
            color: #ff0000;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.file {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 20px;
  position: relative;
}

.file-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d8d8d8;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 5px 0;
  font-size: 13px;
  font-weight: bold;
  color: #4d4d4c;

  .file-header-info {
    font-size: 14px;
    font-weight: normal;

    span.file-header-info-path {
      padding-right: 6px;
    }

    span.file-header-info-size {
      border-left: 1px solid #d8d8d8;
      padding-left: 10px;
      padding-right: 10px;
    }

    span.file-header-info-lines {
      border-left: 1px solid #d8d8d8;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .file-header-actions {
    margin-right: 5px;
  }
}

.file-header-info-changes {
  margin-left: 5px;
}

.squares {
  background-color: #ddd;
  letter-spacing: 0;
  text-align: left;

  margin-top: 4px;

  div {
    width: 10px;
    height: 10px;
    border-left: 1px solid #f7f7f7;
  }

  .square-addition {
    background-color: #55a532;
    float: left;
  }

  .square-context {
    background-color: #d8d8d8;
    float: left;
  }

  .square-deletion {
    background-color: #bd2c00;
    float: left;
  }
}

.file-header-info {
  margin: 8px;
}

.file-header-info-path {
  padding-left: 8px;
  font-weight: normal;
  a {
    color: #213f4d;

    &:hover {
      color: #ff0000;
      text-decoration: none;
    }
  }
}

.diff-wrapper, .file-wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;

  table.diff-table, table.file-table {
    border-collapse: separate;
    width: 100%;
    tr.codespace {
      &:hover {
        opacity: .8;
      }
    }
    .line-number {
      width: 1%;
      min-width: 20px;
    }
    .line-pointer, .line-icon {
      color: #777777 !important;
      width: 5px !important;
      border-right-width: 0!important;

    }
    .line-deletion {
      background-color: #ffdddd;
      border-color: #f1c0c0;
    }
    .line-addition {
      background-color: #dbffdb;
      border-color: #c1e9c1;
    }
    .line {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      -moz-user-select: none;
      border-color: #eee;
      border-image: none;
      border-style: solid;
      border-width: 0 1px 0 0;
      color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 12px;
      line-height: 18px;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: top;
    }
    .line-code {
      color: #333;
      font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
      font-size: 12px;
      overflow: visible;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      vertical-align: top;
      white-space: pre;
      word-wrap: normal;
    }
    .line-header {
      color: #888888;
      background-color: #f8fafd;
      border-width: 1px 0;
      padding-bottom: 4px;
      padding-top: 4px;
      span {
        color: #888888 !important;
      }
    }
    .line-eof_newline_removed, .line-eof_newline_added, .line-eof_no_newline {
      white-space: normal;
      color: #aaa !important;
      font-weight: normal !important;

      span {
        color: #aaa !important;
        font-weight: normal !important;
      }
    }
    .line-selected, .line-selected-lock {
      td {
        background-color: #eaf889;
      }
      &.line-code { padding: 3px; }
    }
    .comments {
      td {
        padding: 8px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        .actions {
          margin: 5px 5px 0 5px;
        }
      }
    }
  }
}

.inline-comment-form {
  max-width: 800px;
  margin-top: 5px;
  margin-left: 5px;

  .nav-tabs {
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 3px 3px 0 0;
    padding: 6px 10px 0;

    li {
      a {
        color: #213f4d;
      }
    }
  }

  .tab-content {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;

    .form-group {
      padding: 10px;
      margin-bottom: 0 !important;

      textarea {
        height: 100px;
      }
    }
  }
}

.comments {
  .comment {
    border: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    max-width: 800px;
    margin-top: 10px;
    margin-left: 5px;

    .comment-header {
      background-color: #f7f7f7;
      border-bottom: 1px solid #eee;
      color: #999;
      padding: 5px 15px;

      .comment-header-title {
        font-size: 14px;
        padding-bottom: 2px;
        padding-top: 2px;

        span.username {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .comment-content {
      font-size: 15px;
      overflow: visible;
      padding: 15px;
      width: 100%;
    }
  }
}

.short-comments {
  .short-comment {
    .short-comment-avatar {
      margin-right: 4px;
    }
    .short-comment-title, .short-comment-content {
      padding-top: 2px;
      font-size: 14px;
      font-weight: normal;
      padding-right: 6px;
    }
    .short-comment-title {
      color: #999;
    }
  }
}

span.commit-sha {
  color: #4d4d4c;
}

#commits-calendar {
  margin-top: 10px;
  background-color: #fff;
  .cell:hover {
    border: 1px solid #4d4d4c;
  }
}

div.tooltip {
  position: absolute;
  width: 220px;
  padding: 10px;
  font: 12px sans-serif;
  background-color: #4d4d4c;
  color: #fff;
  opacity: .9;
  border-radius: 2px;
  pointer-events: none;
}

div.users, div.keys, div.spaces, div.accounts {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 20px;
  position: relative;

  .users-header, .keys-header, .spaces-header, .accounts-header {
    background: none repeat scroll 0 0 #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    color: #213f4d;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  }

  .users-wrapper, .keys-wrapper, .spaces-wrapper, .accounts-wrapper {
    padding: 15px;

    .users-table, .keys-table, .spaces-table {
      td {
        &.actions-td {
          text-align: right;
          padding-right: 10px;
          width: 230px;
        }
      }
    }
  }
}

.notification-group {

  .notification-group-title {
    margin: 10px 0;
    color: #777;
    font-size: 14px;
  }

  .notification-group-list {
    border-bottom: 1px solid #eee;
    .notification {
      border: 1px solid #eee;
      border-bottom: none;
      padding: 10px;

      .notification-image {

      }

      .notification-title {
        margin-left: 10px;

        .notification-message {
          color: #4e575b;
          font-weight: bold;
          a {
            color: #337ab7;
          }
        }
        .notification-meta {
          font-size: 12px;
          color: #444;
        }
      }
    }
  }
}