html, body {
  color: #222222 !important;
}

html, body {
  font: 1em/1.375 "Source Sans Pro",sans-serif !important;
}

h2 {
  padding-bottom: 30px;
}

pre {
  padding: unset!important;
}

.navbar {
  margin-bottom: 0 !important;
}

.dropdown-header {
  font-weight: bold;
}

#heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-md-3, .col-md-9 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.repositories-references-trees {
  .col-md-3, .col-md-9 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

table {
  &.users-table {
    td {
      &.actions-td {
        text-align: right;
        padding-right: 0;
        width: 220px;
      }
    }
  }
  &.repositories-table, &.keys-table {
    td {
      padding: 25px !important;

      &.name-td {
        width: 60%;

        font-size: 20px !important;

        .description {
          font-size: 12px;
        }
      }

      &.stats-td {
        width: 20%;

        .stats {
          .stats-changes-count {
            font-size: 36px;
          }
        }
      }

      &.actions-td {
        width: 20%
      }
    }
  }
}

.keys-table {
  .name-td {
    width: 20%!important;
  }
  .value-td {
    width: 60%;
    code {
      padding: 10px;
    }
  }
}

.btn {
  font-weight: bold;
  border-bottom-width: 2px;
}

.btn-on, .btn-off {
  width: 80px;
}

.navbar-default {
  background-color: #4a4a4a;
  color: #cbcbcb !important;

  a {
    color: #cbcbcb !important;
  }

  .container {
    .navbar-collapse {
      height: 70px !important;
    }
  }
}


.commits {
  border-color: #eaeaea;
  border-image: none;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  padding: 8px 8px 0;
  margin-top: 10px;

  .commits-heading {
    margin-bottom: 5px;
    font-size: 13px;

    color: #888;
  }

  .commits-list {
    list-style-type: none;

    padding-left: 5px;
    margin-bottom: 0;

    .commit {
      border-top: 1px solid #eaeaea;
      padding: 10px;
      margin-left: -14px;
      margin-right: -9px;

      .commit-avatar {
        margin-left: 15px;
      }
      .commit-author {
        font-size: 12px;
        font-weight: normal;
      }
      .commit-message {
        font-size: 13px;
        font-weight: bold;
        a { color: #4e575b; }
        width: 210px;
        margin-left: 10px;
      }
      .commit-stats {
        margin-top: 3px;
        font-weight: normal;
        font-size: 10px;
      }

      .btn-commit {
        width: 95px;
      }
    }
  }
}

.contributors {
  margin-top: 10px;
  .contributor {
    margin: 3px;
    float: left;
  }
}

section.tree {
  margin-top: 10px;

  .modified {
    width: 130px;
    color: #888888;
  }
  .tree-heading {
    background: none repeat scroll 0 0 #e6f1f6;
    border-color: #b7c7cf #b7c7cf #d8e6ec;
    border-image: none;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px;
    padding: 8px 8px 0;

    a {
      text-decoration: none;
      color: #4d4d4c;
      &:hover {
        text-decoration: underline;
      }
    }

    .tree-commit-message {
      font-size: 12px;
      font-weight: bold;
    }
    .tree-commit-author {
      font-size: 13px;
      background: none repeat scroll 0 0 #fff;
      border-top: 1px solid #d8e6ec;
      margin-left: -8px;
      margin-right: -8px;
      padding: 8px;

      .tree-commit-link {
        color: #4d4d4c;
        text-decoration: underline;
        font-size: 13px;
      }
    }
  }
  .tree-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: -moz-use-text-color #ddd #ddd;
    border-image: none;
    border-right: 1px solid #ddd;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin-bottom: 10px;

    table {
      background: none repeat scroll 0 0 #f8f8f8;
      border-radius: 2px;
      width: 100%;

      td {
        border-top: 1px solid #eee;
        line-height: 20px;
        padding: 6px 3px;
        font-size: 14px;

        &.icon {
          color: #777;
          padding-left: 10px;
          padding-right: 2px;
          width: 20px;
        }
        &.name {
          width: 200px;
        }
        &.message {
          width: 530px;
          a {
            text-decoration: none;
            color: #4d4d4c;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.file {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 20px;
  position: relative;

  .file-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #4d4d4c;

    .file-header-info-changes {
      margin-left: 5px;
    }
    .file-header-info-squares {
      background-color: #ddd;
      letter-spacing: 0;
      text-align: left;

      margin-top: 4px;

      div {
        width: 10px;
        height: 10px;
        border-left: 1px solid #f7f7f7;
      }

      .file-header-info-square-addition {
        background-color: #55a532;
        float: left;
      }

      .file-header-info-square-deletion {
        background-color: #bd2c00;
        float: left;
      }
    }

    .file-header-path {

    }
  }

  .diff-wrapper {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-x: auto;
    overflow-y: hidden;

    table.diff-table {
      border-collapse: separate;
      width: 100%;
      .line-number {
        width: 1%;
        min-width: 20px;
      }
      .line-pointer {
        width: 5px;
        border-right-width: 0!important;
      }
      .line-deletion {
        background-color: #ffdddd;
        border-color: #f1c0c0;
      }
      .line-addition {
        background-color: #dbffdb;
        border-color: #c1e9c1;
      }
      .line {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        -moz-user-select: none;
        border-color: #eee;
        border-image: none;
        border-style: solid;
        border-width: 0 1px 0 0;
        color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 12px;
        line-height: 18px;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: top;
      }
      .line-code {
        color: #333;
        font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
        font-size: 12px;
        overflow: visible;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        vertical-align: top;
        white-space: pre;
        word-wrap: normal;
      }
      .line-hunk {
        background-color: #f8fafd;
        border-width: 1px 0;
        padding-bottom: 4px;
        padding-top: 4px;
      }
    }
  }
}

#commits-calendar {
  margin-top: 10px;
  background-color: #fff;
  .cell:hover {
    border: 1px solid #4d4d4c;
  }
}

div.tooltip {
  position: absolute;
  width: 220px;
  padding: 10px;
  font: 12px sans-serif;
  background-color: #4d4d4c;
  color: #fff;
  opacity: .9;
  border-radius: 2px;
  pointer-events: none;
}