- if flash[:notice]
  .alert.alert-success
    %button(class="close" data-dismiss="alert" aria-label="Close")
      %span(aria-hidden="true") &times;
    = flash[:notice]
- elsif flash[:error]
  .alert.alert-danger
    %button(class="close" data-dismiss="alert" aria-label="Close")
      %span(aria-hidden="true") &times;
    = flash[:error]